body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(rgb(221, 216, 200), turquoise);
  height: 100%;
  min-height: 94vh;
}

.header {
  color: white;
  font-size: 100px;
  text-align: center;
}

.dropdown {
  position: relative;
  margin-bottom: 50px;
  background-color: rgb(228, 242, 247);
  background-size: auto;
  color: black;
  padding-top: 10px;
  padding-left: 23px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  border: solid 1px transparent;
  border-radius: 10px;
}

.card {
  display: inline-block;
  position: relative;
  background-color: transparent;
  text-align: center;
  padding-left: 50px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 50px;
  border-style: solid;
  border-radius: 15px;
  border-width: 3px;
  border-color: rgba(195, 206, 207, 0.644);
  color: white;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 14px;
  margin-top: 14px;
  width: 100px;
}

.card:hover {
  opacity: 0.8;
  cursor: pointer;
}

.temp {
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.day {
  padding-top: 10px;
  font-size: 22px;
}

.container {
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
  padding-bottom: 80px;
  border: solid 1px transparent;
  border-radius: 100px;
  background-image: linear-gradient(rgb(104, 104, 248), rgb(51, 182, 169));
  text-align: center;
}

@media screen and (max-width: 930px) {
  body {
    display: inline-block;
    background-image: linear-gradient(rgb(104, 104, 248), rgb(51, 182, 169));
  }
  .container {
    background-image: none;
    position: relative;
    text-align: center;
  }
  .header {
    color: white;
    font-size: 80px;
    text-align: center;
  }
}
